@using Microsoft.AspNetCore.Mvc.TagHelpers
@model HospitalManagementAPI.Models.Hospital

<form asp-action="CreateEdit" method="post">
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="PatientsCount"></label>
        <input asp-for="PatientsCount" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Description"></label>
        <input asp-for="Description" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
</form>